[submodule "projects/disable-osx-startup-sound"]
  path = projects/disable-osx-startup-sound
  url = git@gist.github.com:2ccacd2d5358bcd8fc38a46f5e44228e.git
[submodule "projects/dotfiles"]
  path = projects/dotfiles
  url = git@github.com:robinrob/dotfiles.git
[submodule "projects/oh-my-dotfiles"]
  path = projects/oh-my-dotfiles
  url = git@github.com:robinrob/oh-my-dotfiles.git
