[submodule "projects/disable-osx-startup-sound"]
  path = projects/disable-osx-startup-sound
  url = git@github.com:robinrob/disable-osx-start-sound
[submodule "projects/dotfiles"]
  path = projects/dotfiles
  url = git@github.com:robinrob/dotfiles.git
[submodule "projects/oh-my-dotfiles"]
  path = projects/oh-my-dotfiles
  url = git@github.com:robinrob/oh-my-dotfiles.git
